// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule_one {cursor:pointer; transition:ease 250ms;opacity:0.8}
.schedule_one:hover {box-shadow:3px 3px 1px 0 rgba(0,0,0,0.3); opacity:1; transition:ease 250ms;}


